{% extends "base.html" %}

{% block head_title %} Welcome | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1 class="page-header">
     Log in here
     <small>enter your credentials</small>
    </h1>
{% endblock %}

{% block extra_head_info %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block post_content%}

    {% if messages %}
        {% for message in messages %}
            <p> {{ message }} </p>
        {% endfor %}

    {% elif form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="g-recaptcha" data-sitekey="6Ld19S0UAAAAAORiDS8libCHmPe673HWo_9QiKSr"></div>

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <!--<p><a href="{#% url 'password_reset' %#}">Lost password?</a></p>
    -->
{% endblock %}
