{% extends "base.html" %}

{% block head_title %} Login | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1 class="page-header">
     Logged out
     <small></small>
    </h1>
{% endblock %}

{% block post_content%}
   <p>
   Logged out.
   </p>
{% endblock %}