{% extends "base_full.html" %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}
{% block head_js %}

{% endblock %}


{% block title_content %}
   <h1 class="page-header">
     Hello,
     <small>{{ user.username }}</small>
 </h1>
{% endblock %}

{% block post_content%}


<div class="col-sm-12">
    <div class="row">
        <div class="col-md-12">
            {#{ perms.auth }#}
            <a href="{% url 'blog:article-new' %}" class="btn btn-primary btn-primary"  style="margin-bottom: 10px;"><span class="glyphicon glyphicon-check"></span> New Article</a>
            <a href="{% url 'blog:category-new' %}" class="btn btn-primary btn-primary"  style="margin-bottom: 10px;"><span class="glyphicon glyphicon-check"></span> New Category</a>
            <a href="{% url 'projects:projects-new' %}" class="btn btn-primary btn-primary"  style="margin-bottom: 10px;"><span class="glyphicon glyphicon-check"></span> New Project</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr/>
            <h4>About:</h4>
            <form action="{% url 'about:about-new' %}">
                <button class="btn btn-primary btn-primary"  style="margin-bottom: 10px;">
                <span class="glyphicon glyphicon-check"></span> New Biography
                </button>
            </form>
            <form action="{% url 'about:about-edit' %}">
                <button class="btn btn-primary btn-success"  style="margin-bottom: 10px;">
                <span class="glyphicon glyphicon-pencil"></span> Edit Biography
                </button>
            </form>

            <form action="{% url 'about:about-delete' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary btn-danger"  style="margin-bottom: 10px;">
                <span class="glyphicon glyphicon-trash"></span> Delete Biography
                </button>
            </form>

        </div>
    </div>

    <div class="table-responsive">
        <hr/>
        <h4>Articles:</h4>
        <table id="my_articles" class="table table-bordred table-striped">
        <thead>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for items in user.article_set.all %}
                <tr>
                <td>{{ items.title }}</td>
                <td>
                    <form action="{% url 'blog:article-edit' items.category.slug items.slug %}" style="display: inline;">
                        <p>
                            {#% csrf_token %#}
                            <input type="hidden" name="article" value="{{ items.slug }}" />
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                                <span class="glyphicon glyphicon-pencil" data-placement="right" data-toggle="tooltip" title="Edit"></span>
                            </button>
                        </p>
                    </form>
                </td>
                <td>
                    <form action="{% url 'blog:article-delete' items.category.slug items.slug %}" method="post" style="display: inline;">
                        <p>
                            {% csrf_token %}
                            <input type="hidden" name="article" value="{{ items.slug }}" />
                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                <span class="glyphicon glyphicon-trash" data-placement="right" data-toggle="tooltip" title="Delete"></span>
                            </button>
                        </p>
                    </form>
                </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <hr/>
        <h4>Categories:</h4>
        <table id="my_categories" class="table table-bordred table-striped">
        <thead>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for items in categories %}
                {% if items.slug != "nocat" %}
                <tr>
                <td>{{ items.title }}</td>
                <td>
                    <form action="{% url 'blog:category-edit' items.slug %}" style="display: inline;">
                        <p>
                            {#% csrf_token %#}
                            <input type="hidden" name="category" value="{{ items.slug }}" />
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                                <span class="glyphicon glyphicon-pencil" data-placement="right" data-toggle="tooltip" title="Edit"></span>
                            </button>
                        </p>
                    </form>
                </td>
                <td>
                    <form action="{% url 'blog:category-delete' items.slug %}" method="post" style="display: inline;">
                        <p>
                            {% csrf_token %}
                            <input type="hidden" name="category" value="{{ items.slug }}" />
                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                <span class="glyphicon glyphicon-trash" data-placement="right" data-toggle="tooltip" title="Delete"></span>
                            </button>
                        </p>
                    </form>
                </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <hr/>
        <h4>Projects:</h4>
        <table id="my_projects" class="table table-bordred table-striped">
        <thead>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for items in projects %}
                {% if items.slug != "nocat" %}
                <tr>
                <td>{{ items.title }}</td>
                <td>
                    <form action="{% url 'projects:projects-edit' items.slug %}" style="display: inline;">
                        <p>
                            {#% csrf_token %#}
                            <input type="hidden" name="category" value="{{ items.slug }}" />
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                                <span class="glyphicon glyphicon-pencil" data-placement="right" data-toggle="tooltip" title="Edit"></span>
                            </button>
                        </p>
                    </form>
                </td>
                <td>
                    <form action="{% url 'projects:projects-delete' items.slug %}" method="post" style="display: inline;">
                        <p>
                            {% csrf_token %}
                            <input type="hidden" name="category" value="{{ items.slug }}" />
                            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                <span class="glyphicon glyphicon-trash" data-placement="right" data-toggle="tooltip" title="Delete"></span>
                            </button>
                        </p>
                    </form>
                </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $("#my_articles #checkall").click(function () {
            if ($("#my_articles #checkall").is(':checked')) {
                $("#my_articles input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("#my_articles input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
            });
        }
    });


    $("[data-toggle=tooltip]").tooltip();
});

</script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function(){
            $('#my_articles').DataTable();
        });
    </script>
    <script type="text/javascript" class="init">
        $(document).ready(function(){
            $('#my_categories').DataTable();
        });
    </script>
    <script type="text/javascript" class="init">
        $(document).ready(function(){
            $('#my_projects').DataTable();
        });
    </script>

{% endblock %}

