{% extends "base_post.html" %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block title_content %}
     <h1 class="page-header">
         Search results
         <small>List of articles</small>
     </h1>
{% endblock %}

{% block post_content %}
    <p>
        {% if object_list %}
            {% for art in object_list %}
                <h2>
                    <a href="#">{{ art.title }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="{% url "about:biography" %}">{{ art.author.first_name }} {{ art.author.last_name }}</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ art.posted | date:"M d, Y" }}</p>
                    <p>
                        {{ art.description|truncatechars:200|linebreaks }}
                    </p>
                    <a class="btn btn-primary" href="{% url "blog:article-view" category=art.category.slug slug=art.slug %}">
                        Read More
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <hr>
            {% endfor %}
        {% else %}
            <h2>No results found</h2>
        {% endif %}
    </p>
{% endblock %}
