{% extends "base.html" %}

{% block head_title %} All articles | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1>All categories</h1>
    <p>List of articles</p>
{% endblock %}

{% block post_content %}
    <p>
        {% load showblog_entries %}
        {% for category in object_list %}
            <h1>{{category}}</h1>
            {% show_articles category.slug %}
        {% endfor %}
    </p>
{% endblock %}