{% extends "base_post.html" %}

{% block head_title %} All articles | {{ block.super }} {% endblock head_title %}

{% block title_content %}
     <h1 class="page-header">
         All Categories
          <small>List of articles</small>
     </h1>
{% endblock %}

{% block post_content %}
        {#% load showblog_entries %#}
        {% for category in object_list %}
            {% if category.slug != "nocat" %}
            {#% if category.slug != "nocat" %#}

            {#% show_articles category.slug %#}
            {#% endif %#}
                <div class="col-md-6">
                <!--<div class="col-md-6">-->
                <div class="thumbnail">
                            <!--<img src="http://placehold.it/500x400" alt="">-->
                    <img src="{{ category.category_logo.url }}" alt="{{ category.slug }}" style="width: 265px; height: 145px;" >
                    <div class="caption">
                        <h4>{{ category.title }}</h4>
                        <div style="min-height: 100px; max-height: 100px;">
                        {{ category.body|truncatechars:150|linebreaks }}
                        </div>
                        <p><a href="{% url "blog:list-specific" category=category.slug %}" class="btn btn-info btn-xs" role="button">List articles</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

{% endblock %}
