{% extends "base.html" %}

{% block head_title %} Archive | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1 class="page-header">
     {{ category }}
    <small>List of articles</small>
    </h1>
{% endblock %}

{% block post_content %}
    <p>
        <!--{#% for obj in object_list %}
            <h3><a href='{#% url "blog:article-view" category=obj.category.slug slug=obj.slug %#}'>{#{ obj.title }#}</a></h3>
        {#% endfor %#}-->

        {#% load showblog_entries %#}
        {#% show_articles  cat_slug  %#}


        {% load bleach_tags %}
        {% for art in object_list %}
            <h2>
                <a href="{% url "blog:article-view" category=art.category.slug slug=art.slug %}">{{ art.title }}</a>
            </h2>
            <p class="lead">
                by <a href="{% url "about:biography" %}">{{ art.author.first_name }} {{ art.author.last_name }}</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ art.posted | date:"M d, Y" }}</p>
            <p>
                {{ art.description|truncatechars:200|linebreaks }}
            </p>
            <a class="btn btn-primary" href="{% url "blog:article-view" category=art.category.slug slug=art.slug %}">
                Read More
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <hr>
        {% endfor %}


        {% if is_paginated %}
        <span class="currentpage">
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        <ul class="pager">
            {% if page_obj.has_previous %}
            <li class="previous">
                <a href="{% url "blog:list-page" category=cat_slug page=page_obj.previous_page_number %}">&larr; Newer</a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="next">
                <a href="{% url "blog:list-page" category=cat_slug page=page_obj.next_page_number %}">Older &rarr;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </p>
{% endblock %}