{% extends "base.html" %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block custom_css %}

{% endblock %}

{% block title_content %}
    <h1 class="page-header">New article
     <small>New/Edit</small>
    </h1>
{% endblock %}

{% block post_content%}
      {% include 'snippets/form-snippet.html' with form=form %}
{% endblock %}

{% block custom_js %}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/js/froala_editor.min.js'></script>
{% endblock %}