{% extends "base_post.html" %}

{% block head_title %} {{ object.title }} || {{ block.super }} {% endblock head_title %}

{% block meta_tags %}
<meta name="description" content="{{ object.description|truncatechars:200|linebreaks|striptags }}"/>
{% endblock %}

{% block title_content %}
     <h1 class="page-header">
         {{ object.title }}
    </h1>
{% endblock %}

{% block post_content %}
    <!-- Blog post -->
    <small>
        <span class="glyphicon glyphicon-time"></span> Posted on {{ object.posted | date:"M d, Y" }}
            by <a href='{% url "about:biography" %}'>{{  object.author.first_name }} {{ object.author.last_name }}</a>
    </small>
    <p>
        {% load bleach_tags %}
        {{ object.body | bleach }}
    </p>


    <div id="disqus_thread"></div>
    <script>

    var disqus_config = function () {
        var PAGE_URL = 'https://andreivscompsci.ca{% url "blog:article-view" category=object.category.slug slug=object.slug %}';
        var PAGE_IDENTIFIER = '{{ object.slug}}';
        this.page.url = PAGE_URL;
        this.page.identifier = PAGE_IDENTIFIER;
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://andreivscompsci.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}

{% block custom_js %}
    <script id="dsq-count-scr" src="//andreivscompsci.disqus.com/count.js" async></script>
{% endblock %}