{% extends "base.html" %}

{% block head_title %} Welcome | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1>All categories</h1>
    <p>List of articles</p>
{% endblock %}

{% block post_content %}
    <p>
    <h1>{{ object.title }} <small> {{ object.category }}</small></h1>
    <p>{{ object.body }}</p>
    <p><small>Posted: {{ object.posted }}</small></p>
    </p>
{% endblock %}