{% load bleach_tags %}
{% for art in articles %}
    <h2>
        <a href="{% url "blog:article-view" category=art.category.slug slug=art.slug %}">{{ art.title }}</a>
    </h2>
    <p class="lead">
        by <a href="{% url "about:biography" %}">{{ art.author.first_name }} {{ art.author.last_name }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ art.posted | date:"M d, Y" }}</p>
                <!--
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                -->
    <p>
        {#{ art.body|safe|truncatewords:"50"|linebreaks }#}
        {{ art.description|truncatechars:200|linebreaks }}
    </p>
    <a class="btn btn-primary" href="{% url "blog:article-view" category=art.category.slug slug=art.slug %}">
        Read More
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <hr>

{% endfor %}
