{#{ num_art_in_cat }#}
{% for cat in num_art_in_cat %}
    {% if cat.slug != "nocat" %}
    <a href='{% url "blog:list-specific" cat.slug %}' class="list-group-item">{{ cat.title }} <span class="badge">{{ cat.article__title__count }} </span></a>
    {% endif %}
{% endfor %}