<!-- Latest compiled and minified CSS -->
{% load staticfiles %}
    <link rel="icon" href="{% static 'logo.png' %}" />

<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">


<style>
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 170px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 150px;
        background-color: #101010;
    }
</style>

<style>
    body {
        padding-top: 50px;
    }
    .navbar{
        border-radius: 0;
        background-image: none;
    }
    .navbar-brand {
        padding-top: 0px;
    }

    @media (max-width: 500px) {
        .navbar-text {
            display: none;
        }
    }
    .textLogo {
       font-family: 'Press Start 2P', cursive;
    }
</style>



