    <footer class="footer">
        <div class="container">
            <p style="margin-top: 10px;">
                <!--<li><a href='{#% url "contact" %#}'>Contact Me</a></li>-->
                {% load staticfiles %}

                    <a href="https://github.com/andreivscompsci"><img src="{% static 'GitHub-Mark/PNG/GitHub-Mark-Light-64px.png' %}" alt="Github"></a>
                    <a href="mailto:andreivscompsci@gmail.com?Subject=BlogMsg" target="_top"><img src="{% static 'email.png' %}" alt="Email"></a>

            </p>
            <p class="text-muted"> © 2017 Andrei Vs CompSci </p>
        </div>
    </footer>
