<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container"> 
        <div class="navbar-header">
    
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>

            <a class="navbar-brand" rel="home" href='{% url "home" %}'>
                {% load staticfiles %}
                <img src="{% static 'logo.png' %}" height="45" width="45" alt="AndreiVsWorld">
            </a>
            <p class="navbar-text navbar-left"><span class="textLogo">AndreiVsCompSci</span></p>

        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!--data-toggle="tab" -->
                <li><a  href='{% url "home" %}'>Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href='{% url "blog:list-all" %}'>All</a></li>
                            <!--<li><a href="#">General</a></li>-->
                            {% load showblog_categories %}
                            {% show_categories %}
                        </ul>
                    </li>
                    <li><a href='{% url "projects:index" %}'>Projects</a></li>
                    <li><a href='{% url "about:biography" %}'>About</a></li>
                </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->

                {% if user.is_authenticated %}
                     <li><a href="{% url "profiles:index" %}"><span class="glyphicon glyphicon-user"></span>My Profile</a></li>
                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
                    {% else %}
                        <a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
