 <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <form method="GET" action="/search"  class="form-inline">
                        <span class="input-group-btn">
                            <input type="text" placeholder="Search..." name="q" value="{{ request.GET.q }}" class="form-control">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </form>

                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="list-group">
                            {% load showblog_categories %}
                            {% show_categories_widget %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>