{% extends "base_full.html" %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block custom_css %}
        <style>
        .thumbnail {
            position: relative;
            padding: 0px;
            margin-bottom: 20px;
        }
        .thumbnail img {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}
{% block head_js %}

{% endblock %}


{% block title_content %}
   <h1 class="page-header">
     My projects
 </h1>
{% endblock %}

{% block post_content%}

<div class="col-sm-12">
    <div class="row">
        <div class="row">
        {% for project in object_list %}
            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                            <!--<img src="http://placehold.it/500x400" alt="">-->
                    <img src="{{ project.logo.url }}" alt="{{ project.slug }}" style="width: 265px; height: 145px;" >
                    <div class="caption">
                        <h4>{{ project.title }}</h4>
			<div style="min-height: 100px; max-height: 100px;">
                        {{ project.description|truncatechars:150|linebreaks }}
                        </div>
			<p><a href="{% url "projects:projects-detail" slug=project.slug %}" class="btn btn-info btn-xs" role="button">Read more</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>


{% endblock %}

