{% extends "base.html" %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block custom_css %}
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/css/froala_style.min.css' rel='stylesheet' type='text/css' />
<script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
{% endblock %}

{% block title_content %}
    <h1 class="page-header">New project
     <small>New/Edit</small>
    </h1>
{% endblock %}

{% block post_content%}
      {% include 'snippets/form-snippet-file.html' with form=form %}
{% endblock %}

{% block custom_js %}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.4/js/froala_editor.min.js'></script>
{% endblock %}