{% extends "base_post.html" %}

{% block head_title %} {{ object.title }} || {{ block.super }} {% endblock head_title %}

{% block title_content %}
     <h1 class="page-header">
         {{ object.title }}
    </h1>
{% endblock %}

{% block post_content %}
    <p>
        {% load bleach_tags %}
        {{ object.body | bleach }}
    </p>
{% endblock %}