{% extends "base_full.html" %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}
{% block head_js %}

{% endblock %}


{% block title_content %}
   <h1 class="page-header">
    Error: 500
   <small>internal server error</small>
 </h1>
{% endblock %}

{% block post_content%}
    {% load staticfiles %}
    <img src="{% static 'logo.png' %}" alt="error">

{% endblock %}
