{% extends "base.html" %}

{% block head_title %} Welcome | {{ block.super }} {% endblock head_title %}

{% block title_content %}
   <h1 class="page-header">
     About
     <small>little bit about me</small>
    </h1>
{% endblock %}

{% block post_content%}
    <p>


    </p>
{% endblock %}