<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block head_title %} AndreiVsCompSci {% endblock head_title %}</title>

    {% include 'snippets/css-main.html' %}
    {% include 'snippets/css-home.html' %}

    {% block custom_css %}
    {% endblock %}
    {% block head_js %}
    {% endblock %}

</head>
<body>
    {% include 'snippets/nav.html' %}

    <div class="page-content-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!--
                     <h1>Sticky footer</h1>
                     <p>Some minor description</p>
                     -->
                    {% block title_content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block post_content%}
                {% endblock %}
                <!-- Your article goes here -->
            </div>
        </div>
    </div>

    {% include 'snippets/footer-snippet.html' %}
    {% include 'snippets/js.html' %}
    {% block custom_js %}
    {% endblock %}
</body>
</html>
