{% extends "base.html" %}

{% block head_title %} Welcome | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1>Contact</h1>
    <p>Ask me a question :)</p>
{% endblock %}

{% block post_content%}
    <p>
        You can reach me by my email <a href="mailto:andreiversussworld@gmail.com">andreiversusworld@gmail.com</a> <br/>
    </p>
{% endblock %}