{% extends "base.html" %}

{% block meta_tags %}
<meta name="description" content="My personal blog with notes and tutorials about programming, computer science and more."/>
{% endblock %}

{% block head_title %} Welcome | {{ block.super }} {% endblock head_title %}

{% include 'snippets/nav.html' %}

{% block title_content %}
 <h1 class="page-header">
     My blog
     <small>Recent posts</small>
 </h1>
{% endblock %}

{% block post_content%}
 
    {% load showblog_entries %}
    {% show_recent_articles %}
    {#% for category in object_list %#}
    {#% show_articles category.slug %#}
    {#% endfor %#}

{% endblock %}
