{% extends "base.html" %}

{% block head_title %} Welcome | {{ block.super }} {% endblock head_title %}

{% block title_content %}
    <h1> Test page </h1>
    <p>Test</p>
{% endblock %}

{% block post_content%}
    <p>
        This is some text that should be in the white area of the screen.
        Blablabla. Blalbalaaaaaaaaaaaaaaaaaaaaaaaa.

    </p>
{% endblock %}